.app-container {
  min-height: 350px;
}

.form-inline label {
  margin-right: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen {
  .hide-print {
    visibility: hidden;
  }
}
